p{
    color:#314f11;
    color:#B1FF5E;
    color:#7DB343;
    color:#8ec957;
    color:#4d8016ef;
    color:#fdc96e;
    color:rgb(242, 164, 164);
    color:#3e3d3d22;
    color:rgb(102, 144, 212);
}